/* ************************************************************************************* */

body {
    padding: 0;
    margin: 0;
}

/* ************************************************************************************* */

.header {
    display: none;
}

/* ************************************************************************************* */

.dashboard-container {
    flex-direction: column;
    align-items: center;
}

/* ************************************************************************************* */

.sidebar {
    width: 95vw;
}

.sidebar-menu {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.sidebar-menu li {
    margin: 0;
    padding: 5px;
    font-size: smaller;
    gap: 5px;
    height: 45px;
    display: flex;
    align-items: center
}

/* ************************************************************************************* */

.video-player {
    height: fit-content;
    max-height: 88vh;

}

.video-player video {
    margin: 0;
    width: 100%;
}

.video-header h2 {
    width: 88%;
}

/* ************************************************************************************* */

.form-section {
    display: flex;
}

.like-section img {
    height: 25px;
    width: 25px;
}

.like-count {
    margin: 0;
}

/* ************************************************************************************* */

.channel-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-stats p {
    margin: 5px 0px;
    color: rgba(255, 255, 255, 0.8);
}

.channelStatsH2 {
    display: flex;
    justify-content: center;
}

/* ************************************************************************************* */

.upload-container {
    width: 80vw;
}

/* ************************************************************************************* */

.LoginContainer input {
    width: 80%;
}

/* ************************************************************************************* */

.RegisterContainer input {
    width: 90%;
}

.register-btn {
    margin-top: 30px;
}

/* ************************************************************************************* */